.header{
    background: rgb(28, 168, 28);
    margin: 0;
    font-size: 30px;
    
    text-align: center;
    color: white;
    padding: 100px;
}

#calculator{
color: blue;
}

#array{
color: red;
}


#factorial{
color: green;
}

#multiplytable{
color: purple;
}

#weightconv{
color: teal;
}

.btn{
    color: white;
    border: 5px;
    padding: 15px;
    font-size: 24px;
    font-family: Arial;

}
#prList{
    font-size: 1em;
}

#myProjects{
    font-size: 2em;
}

#calculatorV2{
    color: black;
}