#title{
    text-align: center;
    font-size: 4em;   
}

#calculator{
color: blue;
font-size: 1em;
}

#array{
color: red;
font-size: 1em;

}


#factorial{
color: green;
font-size: 1em;
}

#multiplytable{
color: purple;
font-size: 1em;
}

#weightconv{
color: teal;
font-size: 1em;
}

.btn{
    background-color: rgb(173, 173, 173);
    font-size: 24px;
}